@model AllShowMVCApplication.Models.SHOP

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>廠商登入</title>
    <meta charset="utf-8"/>
    <link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
    <body>
    <div style="position:absolute;left:40%;top:20%">
    @{
        List<string> ErrorMsg = new List<string>();
        if (TempData["ErrorMessage"] != null)
        {
            ErrorMsg = TempData["ErrorMessage"] as List<string>;
        }
        }
    @using (Html.BeginForm("FirmRegister", "AllShowFirm", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td colspan="3">
                    <span style="color:red">*為必填欄位</span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shaccount)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shaccount)   
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shaccount)
                        @foreach (var message in ErrorMsg)
                        {
                            if (message == "此帳號已存在")
                            {
                                 @message
                            }
                        }
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shpwd)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.shpwd) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shpwd)
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>確認密碼
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.Password("confirmshPwd")
                    </div> 
	            </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shboss)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shboss) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shboss)
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shcontact)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shcontact) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shcontact)
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shaddress)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shaddress) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shaddress)
                        @foreach (var message in ErrorMsg)
                        {
                            if (message == "此地址已存在")
                            {
                                 @message
                            }
                        }
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shtel)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shtel) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shtel)
                        @foreach (var message in ErrorMsg)
                        {
                            if (message == "此電話已存在")
                            {
                                 @message
                            }
                        }
                    </span>
                </td>
            </tr>
            <tr>
	            <td>
                    <span style="color:red"><b>*</b></span>@Html.LabelFor(model => model.shemail)
	            </td>
	            <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.shemail) 
                    </div> 
	            </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.shemail)
                        @foreach (var message in ErrorMsg)
                        {
                            if (message == "此e-mail已存在")
                            {
                                 @message
                            }
                        }
                    </span>
                </td>
            </tr>
            <tr>
				<td style="background-color:pink">

				</td>
				<td style="background-color:pink">
                    @Html.Hidden("empno",1)
                    @Html.Hidden("shname","商店名稱")
                    @Html.Hidden("shurl","http://")
				</td>
			</tr>
            <tr>	
	            <td colspan="2">
                    <input type="submit" style="width:100px;height:30px;" value="註冊廠商" >
	            </td>
            </tr>
        </table>
    }    
    </div>
</body>
</html>


