@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NavEmbed</title>
    <link href="@Url.Content("~/Content/NavBar.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav id="top_menu">
		<div id="menu">
  			<ul>
    			<li>@Html.ActionLink("HOME","index","AllShowFirm")</li>
    			<li>@Html.ActionLink("商店管理","FirmManageIndex","AllShowFirm")</li>
    			<li>@Html.ActionLink("商品管理","FirmProductManageIndex","AllShowFirm")</li>
    			<li>@Html.ActionLink("廣告管理","FirmAdvertiseManageIndex","AllShowFirm")</li>
    			<li>@Html.ActionLink("訂單管理","FirmOrderManageIndex","AllShowFirm")</li>
 			</ul>
		</div>
	</nav>
	
</body>
</html>
