@model AllShow.Models.edmx.PRODUCTCLASS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCTCLASS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proclassname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proclassname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.shthepic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.proclassno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
