@model AllShow.Models.edmx.FAVORITESHOPLIST

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FAVORITESHOPLIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEMBER.mememail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEMBER.mememail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.shthepic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
