@model AllShow.Models.edmx.PRODUCT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPic1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPic1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPic2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPic2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPic3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPic3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proCreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProOffShelfDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProOffShelfDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proPop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proPop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTCLASS.proclassname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTCLASS.proclassname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.shthepic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.proNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
