@model AllShow.Models.edmx.SHOP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SHOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shthepic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shaccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shaccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shpwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shpwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shboss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shboss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shcontact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shcontact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shtel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shtel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shabout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shabout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shlogopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shlogopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shurl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shadstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shadstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shadtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shadtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shadpic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shadpic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shpopshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shpopshop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shcheckstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shcheckstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shstartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shstartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shenddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shenddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shcheckdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shcheckdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shpwdstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shpwdstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shstoprightstartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shstoprightstartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shstoprightenddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shstoprightenddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.empname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.empname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHCLASS.shclassname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHCLASS.shclassname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
