@model IEnumerable<AllShow.Models.edmx.SHOP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shthepic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shaccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shpwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shboss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shcontact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shtel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shemail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shabout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shlogopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shadstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shadtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shadpic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shpopshop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shcheckstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shstartdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shenddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shcheckdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shpwdstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shstoprightstartdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shstoprightenddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHCLASS.shclassname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shthepic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shaccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shpwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shboss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shcontact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shtel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shemail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shabout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shlogopic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shadstate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shadtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shadpic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shpopshop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shcheckstate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shstartdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shenddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shcheckdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shpwdstate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shstoprightstartdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shstoprightenddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHCLASS.shclassname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shno }) |
            @Html.ActionLink("Details", "Details", new { id=item.shno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.shno })
        </td>
    </tr>
}

</table>
