@model AllShowMVCApplication.Models.ORDERLIST

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ORDERLIST</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.shoporderNo, "SHOPORDER")
        </div>
        <div class="editor-field">
            @Html.DropDownList("shoporderNo", String.Empty)
            @Html.ValidationMessageFor(model => model.shoporderNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.proNo, "PRODUCT")
        </div>
        <div class="editor-field">
            @Html.DropDownList("proNo", String.Empty)
            @Html.ValidationMessageFor(model => model.proNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.quantity)
            @Html.ValidationMessageFor(model => model.quantity)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
