@model AllShowMVCApplication.Models.PRODUCTCLASS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PRODUCTCLASS</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.proclassno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.proclassno)
            @Html.ValidationMessageFor(model => model.proclassno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shno, "SHOP")
        </div>
        <div class="editor-field">
            @Html.DropDownList("shno", String.Empty)
            @Html.ValidationMessageFor(model => model.shno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.proclassname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.proclassname)
            @Html.ValidationMessageFor(model => model.proclassname)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
