@model IEnumerable<AllShowMVCApplication.Models.PRODUCTCLASS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proclassno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proclassname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proclassno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOP.shthepic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proclassname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.proclassno  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.proclassno  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.proclassno  })
        </td>
    </tr>
}

</table>
