@model AllShow.Models.edmx.ADVERTISEMENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ADVERTISEMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adCheckState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adCheckState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.empname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.empname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.shthepic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
