@model IEnumerable<AllShow.Models.edmx.ADVERTISEMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adApplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adCheckState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adApplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adCheckState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOP.shthepic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.adNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adNo })
        </td>
    </tr>
}

</table>
