@model IEnumerable<AllShowMVCApplication.Models.EMPLOYEE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empaccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emppwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPEMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empsex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emptel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hiredate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leavedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empaccountstate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empaccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emppwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPEMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empsex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emptel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hiredate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leavedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empaccountstate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.empno  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.empno  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.empno  })
        </td>
    </tr>
}

</table>
