@model AllShowMVCApplication.Models.MEMBERLIST

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MEMBERLIST</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.orderNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MEMBER.mememail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEMBER.mememail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.orderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.orderNo  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
