@model IEnumerable<AllShowMVCApplication.Models.ORDERLIST>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SHOPORDER.orderState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.proName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SHOPORDER.orderState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.proName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.SHOPORDER.shoporderNo,id2=item.PRODUCT.proNo  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.SHOPORDER.shoporderNo,id2=item.PRODUCT.proNo  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.SHOPORDER.shoporderNo,id2=item.PRODUCT.proNo  })
        </td>
    </tr>
}

</table>
