@{
    ViewBag.Title = "RazorTest";
    var htmlString = "<script>alert('This is Test!!');</script>";
    int val = 10;//宣告變數
    bool check = true;
    string message = "Hello World";//宣告變數
    Func<string, object> xxxx =@<strong>@item</strong>;//委派
}
@using System.Text.RegularExpressions
@functions
{
    String getData(){
        return "HHHHHAAAA";
    }
}
@Html.Raw(htmlString);
<h2>顯示變數值:</h2>@message
<h2>顯示變數值:</h2>@Html.Raw("<font color='red'>message:"+message+"</font>")
<h2>顯示數值(迴圈):</h2>
    @for (int i = 0; i < val; i++) {
        @Html.Raw(i)
    }
<h2>顯示資料(自訂Function):</h2>
@if(check)
{
    @Html.Raw(getData())
}
<h2>顯示資料(委派):</h2>
@xxxx("SuperMan")
<h2>頁面崁入</h2>
@Html.Action("ActionTest1")
<hr/>
@{
    Html.RenderAction("ActionTest2");
}
<h2>控制項轉</h2>
@Html.ActionLink("顯示資料","ControlsTest","Demo")