@model AllShow.Models.edmx.SHOPORDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SHOPORDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referredToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referredToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEMBERLIST.orderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEMBERLIST.orderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.shthepic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shoporderNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
