@model IEnumerable<AllShow.Models.edmx.SHOPORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referredToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipientTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMBERLIST.orderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOP.shthepic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referredToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipientTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEMBERLIST.orderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOP.shthepic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shoporderNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.shoporderNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.shoporderNo })
        </td>
    </tr>
}

</table>
