@model AllShowMVCApplication.Models.ViewModels.ShClassShopViewModel
@{
    ViewBag.Title = "ShClass";
    Layout = "~/Views/Shared/MainLayoutPage.cshtml";
}

@section head
{
    <meta charset="utf-8"/>
    <link href="@Url.Content("~/Content/DefaultPage.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/Table.css" rel="stylesheet" type="text/css" />
    }

@section extra
{
    <ul id="extra_menu">
        @foreach(var item in Model.shClasses)
        {
            <li>@Html.ActionLink(@item.shclassname,"ShClass","AllShow", new { val = @item.shclassno }, new { })</li>
        }
    </ul> 
    }

<table>
    <tr>
        <th>
            @ViewBag.ShClassName
        </th>
    </tr>
    @foreach (var shop in Model.shops)
    {
        <tr>
            <td>
                圖片
            </td>
            <td>
                @shop.shname
            </td>
            <td>
                加入最愛商店
            </td>
            <td>
                進入商店
            </td>
        </tr> 
    }
</table>

