@model IEnumerable<AllShowMVCApplication.Models.Message>

@{
    ViewBag.Title = "ControlsTest";
    var shopViewModel = (AllShowMVCApplication.Models.ViewModels.ShopDDLViewModel)ViewBag.shopViewModel;
}
<link href="@Url.Content("~/Content/Controls.css")" rel="stylesheet" type="text/css" />

<h2>Message</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            TextBox
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDateTime)
        </th>
        <th>
            TextBox
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.times)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.TextBox("Subject", null, new { @class = "txtBox" })
                <br/>
                @Html.TextBoxFor(imodel=>item.Subject, new { @class="txtBox"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDateTime,"DateTime")
            </td>
            <td>
                @Html.TextBoxFor(imodel=>item.PostDateTime,"{0:yyyy/MM/dd}", new { @class="txtBox"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.times)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
        </tr>
    }
</table>
<hr />
<h2>Shop DDL</h2>
@Html.Label("商店:")
@Html.DropDownList("DDL_Shops1",(IEnumerable<SelectListItem>)ViewBag.ShopsDDL)
@Html.Label("商店(預設選擇):")
@Html.DropDownList("DDL_Shops2",(IEnumerable<SelectListItem>)ViewBag.ShopsDDL2)
@Html.Label("商店(SelectList):")
@Html.DropDownList("DDL_Shops3",(SelectList)ViewBag.ShopsDDL3)
@Html.DropDownList("ShopsDDL3")
@Html.Label("商店(SelectList、預設選擇):")
@Html.DropDownList("DDL_Shops4",(SelectList)ViewBag.ShopsDDL4)
<hr />
<p>
    @Html.Raw("商店名稱:" + shopViewModel.Shop.shname)
</p>
<p>
    @Html.Label("審核員工:")
    @Html.Label("DropDownList")
    @Html.DropDownList("SHClassDDL",shopViewModel.EmployeeList)
    @Html.Label("DropDownListFor")
    @Html.DropDownListFor(c => shopViewModel.Shop.empno, shopViewModel.EmployeeList)
</p>
<p>
    @Html.Label("商店類別:")
    @Html.Label("DropDownList")
    @Html.DropDownList("SHClassDDL",shopViewModel.ShClassList)
    @Html.Label("DropDownListFor")
    @Html.DropDownListFor(c => shopViewModel.Shop.shclassno, shopViewModel.ShClassList)
</p>
<hr />
<table>
    <tr>
        <td>
            <label for="Name1">Name</label>
            <input type="text" id="Name1" />
        </td>
    </tr>
</table>
<div>
    XXXX
</div>
<div id="server-time"></div>
    <p>
        @Ajax.ActionLink("Get Time", "Time", "Demo", new AjaxOptions 
        { 
            UpdateTargetId="server-time",
            InsertionMode=InsertionMode.Replace
        })
    </p>



